.main {
  width: 50vw;
  height: 80vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}